@page "/"

<!-- Top Banner - Cabeçalho -->
<TopBanner BannerTxt="S V G">
    <h5 class="text-center m-2"><span>Scalable Vector Graphics</span></h5>
</TopBanner>
<!-- https://youtu.be/IGzDf3dSSAQ   : Blazor Técnicas e Truques P2 : Componentes & Modal -->  

<!-- Greeting Message -->
<div class="h70 d-flex flex-column align-items-center justify-content-center m-0 p-0">

    <h1>Welcome to your SVG for begginers Tutorial.</h1>
    <br />
    <h4>Learn how to draw geometric figures</h4>
    <h5>Zoom in/out a scalable picture without loss of resolution </h5>
    <h5>See how to animate geo and pic figures</h5>
    <br/>
    <br/>
    <h3>Guys, SVG is awesome. Add it to your toolbox</h3>
</div>

<style> .h70 { height: 70%; }</style>